@using CoffeeShopBLL.ModelVMs.Order
@model OrderDetailsVM
<div class="container">
    <h2>Order #@Model.OrderId</h2>
    <p>Date: @Model.CreatedAt</p>
    <p>Total: @Model.TotalPrice EGP</p>

    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Total Price</th>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@item.UnitPrice</td>
                    <td>@(item.Quantity* item.UnitPrice)</td>
                </tr>
            }
        </tbody>
    </table>

</div>
